[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/asmi57/nvim
[submodule "tmux/.config/tmux/plugins/tmux"]
	path = tmux/.config/tmux/plugins/tmux
	url = https://github.com/catppuccin/tmux
