@import "gruv.scss";

* {
  background-color: $bg0;
  color: $fg0;
  font-size: 24px;
  font-family: "jetbrainsmono";
}

.symbol { background: transparent; padding-right: 10px; }
.value { background: transparent; }

.battery {
  color: $green;
  background: $bg2;
  padding: 0px 10px;
  margin-left: 10px;
  .symbol {
    color: $green;
  }
}
.memory {
  background: $bg2;
  padding: 0px 10px;
  margin: 0px 10px;
  .symbol {
    color: $aqua;
  }
}
.fanprofile {
  background: $bg2;
  padding: 0px 10px;
  margin: 0px 10px;
  .symbol {
    color: $purple;
    font-size: 24px;
  }
}
.cpu {
  background: $bg2;
  padding: 0px 10px;
  margin: 0px 10px;
  .symbol {
    color: $orange;
    font-size: 24px;
  }
}
.temperature {
  background: $bg2;
  padding: 0px 10px;
  margin: 0px 10px;
  .symbol {
    color: $red;
    font-size: 24px;
  }
}
.outputs {
  .workspaces {
    background: rgba(black, 0);
    padding-right: 10px;
    .workspace {
      background: $bg1;
      padding: 0px 10px;
      margin: 0px 0px;
    }
    .focused {
      color: $blue;
      background: $bg2
    }
  }
}

.mode {
  background: $red-dim;
}
