// @import "mocha.scss";
@import "gruv.scss";


$font: "JetBrainsMono NF";
* {
	all: unset;
	font-family: $font;
	font-weight: Bold;
}


.clock {
	background: $bg;
	color: $hlfg;

	.time {
		font-size: 9em;
	}
	.date {
		font-size: 4em;
	}
}

.music {
	background: $bg;
    color: $fg;
	.album-art {
		border-radius: 60px;
	}
}



.progressBar {
    trough {
        background: $bg0;
        min-height: 16px;
        border-radius: 10px;
    }
    trough progress {
        background: $fg;
        min-height: 16px;
        border-radius: 10px;
    }
}
